/* Animated Letters */

.row_title, .row_letter{
    font-size: 28rem;
    font-weight: 500;
    position: relative;
    letter-spacing: -0.8rem;
    display: inline-block;
    white-space: nowrap;
}

@media screen and (max-width: 480px) {
    .row_title, .row_letter{
        font-size: 13rem;
    }
}

/* Banner row top */

.banner_row{
    overflow: hidden;
    display: flex;
    align-items: center;
}

.banner_row .row_col{
    width: 50%;
      display: flex;
      align-content: center;
      justify-content: center; 
}
.banner_row .row_col .row_message{
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.6rem;
    width: 320px;
}
@media screen and (max-width: 1440px) {
    .banner_row .row_col{
        width: 70%
    }
}
@media screen and (max-width: 1240px) {
    .banner_row .row_col:last-child{
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .banner_row .row_col{
        width: 100%;
        justify-content: flex-start;
    }
}

.banner_row .center{
    justify-content: center;
    text-align: center;
}
.banner_row .center .row_letter{
    left: 0;
}

.banner_row .right{
    justify-content: flex-end; 
}

@media screen and (max-width: 1440px) {
.banner_row:first-child{
    margin-top: 48px;  
}
}

/* banner row bottom */
.scroll{
    height: 160px;
    width: 160px;
    border-radius: 100%;
    background: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 160px;
}

.scroll span{
    font-size: 18px;
    font-weight: 600;
    margin: 4px 0; 
}
@media screen and (max-width: 480px) {
    .scroll span{
        font-size: 10px;
        margin: 2px 0;
    }
}
@media screen and (max-width: 1440px) {
    .scroll{
        left: 60px;
    }
}
@media screen and (max-width: 1240px) {
    .scroll{
       display: none;
    }
}

/* banner row center */

.marquee{
    position: relative;
    overflow: hidden;
}
.marquee .animate .marquee_inner{
    animation-play-state: running;
}

.marquee_inner{
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(calc(-25%), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
}
@media screen and (min-width: 1920px) {
    .marquee_inner{
        transform: translate3d(calc(-25% + 10vw), 0, 0);
      animation: marquee-lg 5s linear infinite;
      animation-play-state: paused;
    }
}

.row_title{
    padding: 0 8vw;
}
@media screen and (min-width: 1920px) {
    .row_title{
        padding: 0 10vw;
    }
}


@keyframes marquee {
    0% {
      transform: translate3d( calc(-25%), 0, 0);
    }
  
    100% {
      transform: translate3d(calc(-50%), 0, 0);
    }
  }
  
  @keyframes marquee-lg {
    0% {
      transform: translate3d(calc(-25% + 10vw), 0, 0);
    }
  
    100% {
      transform: translate3d(calc(-50% + 10vw), 0, 0);
    }
  }
  